.star-rating{
    display: block;
}
thead {
    background-color: gray;
}
.top-buffer {
    margin-top: 50px;
}
#rating {
    padding: 0;
}

.star.active {
    color: red;
}
#counter {
    display: none;
}
